
snippet has "Moose/Moo has attribute"
has '${1:name...}' => ( is  => 'lazy'$2 );
endsnippet

snippet self "my ( $self ) = @_"
my ( $self$1 ) = @_;
endsnippet

snippet ddp "Data::Printer p"
use Data::Printer; p $1
endsnippet

snippet pod "POD section"
=item ${1:NAME}

${2:...}

=cut
endsnippet
